$white: #fff;
$gray: #301E67;

$blue: #21E1E1;
$pink: #FF75A0;
$orange: #FF7B54;
$yellow: #FFD56F;
$green: #6CC4A1;
$yellow-light: #FFFBAC;
$purple: #A555EC;
$brown: #C74B50;
$red: #DD5353;
$grey: #ECECEC;

$background--base: radial-gradient(circle, #f8e0d8 30%, #f5c5b5);
$background--end: rgba(255,230,230, 1);

$details-height: 92vh;